.main {
	width: 600px;

	.todo {
		-webkit-box-shadow: 0px 0px 15px 3px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 0px 15px 3px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 0px 15px 3px rgba(231, 234, 236, 0.2);
	}
}
